/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 janv. 2015, 22:01:06
    Author     : bascool
*/
html {
    background-color: #9FC1CD;
}

body {
    margin: 5px;
    background-color: transparent;
}

#container {
    border-radius: 4px;
    background-color: white;
    border: 3px double grey;
    color: green;
    height: auto;
    margin-top: 15px;
}

div {
    padding: 2px;
}

.title {
    text-align: center;
}

.admin {
    text-align: right;
}

.nav ul {
    list-style: none;
}


.products li {
    list-style-type: none;
    color: darkcyan;
}

h4 {
    color: darkcyan;
}

.modal-body {
    color: black;
}

.products li > div > div:first-child:before {
   content: '- ';
}

.nav li .active {
    border: 1px solid black;
}

.line {
    width: 90%;
    color: gray
}

.product li {
    border: 1px black dotted;
    padding: 2px;
    margin: 2px;
}
    
hr { 
    padding: 0;
    border: none; 
    border-top: medium double #333; 
    color: #333; 
    text-align: center; 
} 

.lead, .list li {
    color: black;
}

dt {
    color: darkblue;
}

dd {
    color: darkgray;
}

.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #5597CF;
}

