<!DOCTYPE html>

<html>
    <head>
        <title>Commande</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="includes/style.css">
        
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
        <script src="includes/subscript.js"></script>
    </head>
    <body data-ng-app="PWA_project">
        <h1 class="text-center"><u>Knk Multimedia</u></h1>
        
        <div id="container" class="col-xs-12" data-ng-controller="ordController">
            <ul class="nav nav-tabs nav-justified">
                <li><a href="index.html" target="_self">Accueil</a></li>
                <li><a href="products.html" target="_self">Abonnements</a></li>
                <li class="active"><a href="order.html" target="_self">Consulter commande</a></li>
            </ul>

            <div>
                <!-- Display if there is no Order setted -->
                <div class="col-xs-12" data-ng-hide="ordSet">
                    <form name="formNumOrd">
                        <div class="col-xs-4"><h4><label for="numOrd">Entrez le numero de la commande:</label></h4></div>
                        <div class="col-xs-4"><input type="text" id="numOrd" name="numOrd" data-ng-model="numOrd" required></div>
                        <div class="col-xs-4">
                            <span style="color:red" ng-show="formNumOrd.numOrd.$dirty && formNumOrd.numOrd.$invalid">
                                <span ng-show="formNumOrd.numOrd.$error.required">Numero manquant.</span>
                            </span>
                        </div>
                    </form>
                    <button type="button" class="btn btn-primary" data-ng-click="getOrd()" ng-disabled="formNumOrd.$invalid">Consulter</button>
                </div>
                
                <!-- Display if there is an Order setted -->
                <div class="col-xs-12" data-ng-show="ordSet">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4">
                        <h4>Abonnement {{ order.sub }} de {{ order.prod }}</h4>
                        <p>
                            Commande n°{{ order.orderNum }}, souscrite par {{ order.firstName }} {{order.lastName}}.<br>
                            Adresse mail utilisée: {{ order.email }} .
                        </p>
                    </div>
                    <div class="col-xs-4"></div>
                </div>
            </div>

        </div>
    </body>
</html>
