<!DOCTYPE html>

<html>
    <head>
        <title>Abonnements</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="includes/style.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
        <script src="includes/subscript.js"></script>
    </head>
    <body data-ng-app="PWA_project" data-ng-controller="catController">
        
        <h1 class="text-center"><u>Knk Media</u></h1>
        
        <div id="container" class="col-xs-12">
            <ul class="nav nav-tabs nav-justified">
                <li><a href="index.html">Accueil</a></li>
                <li class="active"><a href="products.html">Abonnements</a></li>
            </ul>

            <div>
                <div class="col-xs-6">
                    <label for="catSearch">Catégorie:</label>
                    <select class="form-control" id="catSearch" data-ng-model="catSelect.category">
                        <option value="">Tout</option>
                        <option data-ng-repeat="cat in categories" value="{{ cat.name}}">{{ cat.name}}</option>
                    </select>
                </div>
                <div class="col-xs-6"> </div>

                <div data-ng-show="admin" class="col-xs-12">
                    <h4>Ajout categorie</h4>          
                    <div class="col-xs-12"><label for="nameCat">Nom:</label></div>

                    <div class="col-xs-6">
                        <input type="text" id="nameCat" class="form-control" data-ng-model="newCat.name">
                    </div>  
                    <div class="col-xs-6"> 
                        <button class="btn btn-default" data-ng-click="addCategory()">ajout</button> 
                    </div>   
                </div>    
            </div>

            <div class="row"></div> 

            <div data-ng-controller="prodController">
                <div class="modal fade" id="formOrd" tabindex="-1" role="dialog" aria-labelledby="formTitle" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="formTitle">Souscrire à l'abonnement {{ subOrder.name }} de {{ prodOrder.name }}</h4>
                            </div>

                            <div class="modal-body">
                                <form name="formOrd" novalidate>
                                    <div class="col-xs-4"><label for="lNameOrd">Nom:</label></div>
                                    <div class="col-xs-4"><input type="text" id="lNameOrd" class="form-control" name="lName" data-ng-model="newOrder.lastName" required></div>
                                    <div class="col-xs-4">
                                        <span style="color:red" ng-show="formOrd.lName.$dirty && formSub.lName.$invalid">
                                            <span ng-show="formOrd.lName.$error.required">Nom manquant.</span>
                                        </span>
                                    </div>
                                    
                                    <div class="col-xs-4"><label for="fNameOrd">Prénom:</label></div>
                                    <div class="col-xs-4"><input type="text" id="fNameOrd" class="form-control" name="fName" data-ng-model="newOrder.firstName" required></div>
                                    <div class="col-xs-4">
                                        <span style="color:red" ng-show="formOrd.fName.$dirty && formSub.fName.$invalid">
                                            <span ng-show="formOrd.fName.$error.required">Prénom manquant.</span>
                                        </span>
                                    </div>
                                    
                                    <div class="col-xs-4"><label for="mailOrd">Email:</label></div>
                                    <div class="col-xs-4"><input type="email" id="mailOrd" class="form-control" name="email" data-ng-model="newOrder.email" required></div>
                                    <div class="col-xs-4">
                                        <span style="color:red" ng-show="formOrd.email.$dirty && formSub.email.$invalid">
                                            <span ng-show="formOrd.email.$error.required">Email manquant.</span>
                                            <span ng-show="formOrd.email.$error.email">Email invalide.</span>
                                        </span>
                                    </div>
                                    
                                    <div class="col-xs-4"><label for="ibanOrd">IBAN:</label></div>
                                    <div class="col-xs-4"><input type="text" id="ibanOrd" class="form-control" nae="iban" data-ng-model="newOrder.iban" required></div>
                                    <div class="col-xs-4">
                                        <span style="color:red" ng-show="formOrd.iban.$dirty && formSub.iban.$invalid">
                                            <span ng-show="formOrd.iban.$error.required">IBAN manquant.</span>
                                        </span>
                                    </div>
                                </form>              
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-ng-click="addOrder(prodOrder)">Souscrire</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="modal fade" id="formSub" tabindex="-1" role="dialog" aria-labelledby="formSubTitle" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="formSubTitle">Ajouter un abonnement pour {{ prodSub.name }}</h4>
                            </div>

                            <div class="modal-body container col-xs-12">
                                <form name="formSub" novalidate>
                                    <div class="col-xs-12">
                                    <div class="col-xs-4"><label for="nameSub">Nom:</label></div>
                                    <div class="col-xs-4"><input type="text" id="nameSub" name="name" class="form-control" data-ng-model="sub.name" required></div>
                                    <div class="col-xs-4">
                                        <span style="color:red" ng-show="formSub.name.$dirty && formSub.name.$invalid">
                                            <span ng-show="formSub.name.$error.required">Nom manquant.</span>
                                        </span>
                                    </div>
                                    </div>
                                    <br>
                                    
                                    <div class="col-xs-12">
                                    <div class="col-xs-4"><label for="durSub">Durée (mois:)</label></div>
                                    <div class="col-xs-4"><input type="text" id="durSub" name="dur" class="form-control" data-ng-model="sub.duration" required></div>
                                    <div class="col-xs-4">
                                        <span style="color:red" ng-show="formSub.dur.$dirty && formSub.dur.$invalid">
                                            <span ng-show="formSub.dur.$error.required">Durée manquante.</span>
                                        </span>
                                    </div>
                                    </div>
                                    
                                    <br>

                                    <div class="col-xs-12">
                                    <div class="col-xs-4"><label for="priceSub">Prix (euros):</label></div>
                                    <div class="col-xs-4"><input type="text" id="priceSub" name="pri" class="form-control" data-ng-model="sub.price" required></div>
                                    <div class="col-xs-4">
                                        <span style="color:red" ng-show="formSub.pri.$dirty && formSub.pri.$invalid">
                                            <span ng-show="formSub.pri.$error.required">Prix manquant.</span>
                                        </span>
                                    </div>
                                    </div>
                                </form>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-ng-click="addSub(prodSub)"
                                        ng-disabled="formSub.$invalid"
                                >Ajouter</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="formProd" tabindex="-1" role="dialog" aria-labelledby="formProdTitle" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="formProdTitle">Ajouter un produit</h4>
                            </div>

                            <div class="modal-body">
                                <form name="formProd" novalidate>
                                    <div class="col-xs-4"><label for="nameProd">Produit:</label></div>
                                    <div class="col-xs-4"><input type="text" id="nameProd" name="name" class="form-control" data-ng-model="newProd.name" required></div>
                                    <div class="col-xs-4">
                                        <span style="color:red" ng-show="formProd.name.$dirty && formProd.name.$invalid">
                                            <span ng-show="formProd.name.$error.required">Produit manquant.</span>
                                        </span>
                                    </div>

                                    <div class="col-xs-4"><label for="catProd">Catégorie:</label></div>
                                    <div class="col-xs-4">
                                        <select class="form-control" id="catProd" name="cat" data-ng-model="newProd.category" required>
                                            <option data-ng-repeat="cat in categories" value="{{ cat.name}}">{{ cat.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4">
                                        <span style="color:red" ng-show="formProd.cat.$dirty && formProd.cat.$invalid">
                                            <span ng-show="formProd.cat.$error.required">Catégorie manquante.</span>
                                        </span>
                                    </div>
                                </form>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-ng-click="addProduct()">Ajouter</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="products">
                    <li data-ng-repeat="prod in products| filter:catSelect:strict | orderBy:'name'">
                        <div class="abo col-xs-12">
                            <div class="col-xs-8">{{ prod.name}}.</div>
                            <div class="col-xs-4">
                                <button data-ng-click="delProduct(prod)" class="btn btn-default" data-ng-show="admin">Supprimer</button>
                            </div>
                            <div>
                                <ul>
                                    <li data-ng-repeat="sub in prod.subs| orderBy:'duration'" class="abo col-xs-12">
                                        <div class="col-xs-8">
                                            <dl>
                                                <dt>Abonnement {{ sub.name}}</dt>
                                                <dd>Durée {{ sub.duration}} mois, {{sub.price}} €.</dd>
                                            </dl>
                                        </div>
                                        <div class="col-xs-4">
                                            <button class="btn btn-default" data-toggle="modal" data-target="#formOrd" data-ng-click="setOrder(prod, sub)">Souscrire</button>
                                            <button class="btn btn-default" data-ng-show="admin" data-ng-click="delSub(prod, sub)">Supprimer</button>
                                        </div>
                                        <div class="col-xs-12 prodSep"></div>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-xs-12" data-ng-show="admin">
                                <button class="btn btn-default" data-toggle="modal" data-target="#formSub" data-ng-click="setSub(prod)">Ajouter un abonnement</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="col-xs-12">   
                            <button class="btn btn-default" data-toggle="modal" data-target="#formProd" data-ng-show="admin">Ajouter un produit</button>
                        </div>
                    </li>
                </ul>        
            </div>

            <div class="row"></div> 

            <div class="col-xs-12 admin"><label class="checkbox"><input type="checkbox" data-ng-model="admin"> Mode admin</label></div>
        </div>
    </body>
</html>
