<!DOCTYPE html>

<html>
    <head>
        <title>Abonnements</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="includes/style.css">
        
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
        <script src="includes/subscript.js"></script>
    </head>
    <body data-ng-app="PWA_project" data-ng-controller="catController" class="container">
        <ul class="nav nav-tabs nav-justified">
            <li><a href="index.html">Accueil</a></li>
            <li class="active"><a href="products.html">Abonnements</a></li>
        </ul>

        <div>
            <div class="col-xs-6">
                <label for="catSearch">Catégorie:</label>
                <select class="form-control" id="catSearch" data-ng-model="catSelect.category">
                    <option value="">Tout</option>
                    <option data-ng-repeat="cat in categories" value="{{ cat.name}}">{{ cat.name}}</option>
                </select>
            </div>
            <div class="col-xs-6"> </div>

            <div data-ng-show="admin">
                <h4>Ajout categorie</h4>          
                <div class="col-xs-12"><label for="nameCat">Nom:</label></div>

                <div class="col-xs-6">
                    <input type="text" id="nameCat" class="form-control" data-ng-model="newCat.name">
                </div>  
                <div class="col-xs-6"> 
                    <button class="btn btn-default" data-ng-click="addCategory()">ajout</button> 
                </div>   
            </div>    
        </div>
        
        <div class="row"></div> 
        
        <div data-ng-controller="prodController" class="container">
            <ul>
                <li data-ng-repeat="prod in products| filter:catSelect:strict | orderBy:'name'">
                    <div class="abo col-xs-12">
                        <div class="col-xs-8">{{ prod.name}}.</div>
                        <div class="col-xs-4">
                                <button data-ng-click="delProduct(prod)" class="btn btn-default" data-ng-show="admin">Supprimer</button>
                        </div>
                        <div>
                            <ul>
                                <li  data-ng-repeat="sub in prod.subs | orderBy:'duration'" class="abo col-xs-12">
                                    <div class="col-xs-6">
                                        Abonnement {{ sub.name }} <br>
                                        Durée {{ sub.duration}} mois, {{sub.price}} €.
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="col-xs-6">
                                            <button class="btn btn-default" data-ng-click="toggleOrder()">Souscrire</button>
                                        </div>
                                        <div class="col-xs-6" data-ng-show="admin">
                                            <button class="btn btn-default" data-ng-click="delSub(prod, sub)">Supprimer</button> 
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="col-xs-12" data-ng-show="admin">
                            <h5>Ajout abonnement: </h5>
                            <div class="col-xs-4"><label for="nameSub">Nom:</label></div>
                            <div class="col-xs-4"><label for="durSub">Durée (mois:)</label></div>
                            <div class="col-xs-4"><label for="priceSub">Prix (euros):</label></div>
                            <br>
                            <div class="col-xs-4"><input type="text" id="nameSub" class="form-control" data-ng-model="sub.name"></div>
                            <div class="col-xs-4"><input type="text" id="durSub" class="form-control" data-ng-model="sub.duration"></div>
                            <div class="col-xs-4"><input type="text" id="priceSub" class="form-control" data-ng-model="sub.price"></div>
                            
                            <div class="col-xs-12">   
                                <button class="btn btn-default" data-ng-click="addSub(prod)">Ajout</button>            
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div data-ng-show="admin">
                        <h4>Ajout produit</h4>
                        <div class="col-xs-12"><label for="nameProd">Produit:</label></div>
                        <div class="col-xs-12"><input type="text" id="nameProd" class="form-control" data-ng-model="newProd.name"></div>
                        
                        
                        <h5>Abonnement: </h5>
                        <div class="col-xs-4"><label for="nameSub">Nom:</label></div>
                        <div class="col-xs-4"><label for="durSub">Durée (mois:)</label></div>
                        <div class="col-xs-4"><label for="priceSub">Prix (euros):</label></div>
                        <br>
                        <div class="col-xs-4"><input type="text" id="nameSub" class="form-control" data-ng-model="newSub.name"></div>
                        <div class="col-xs-4"><input type="text" id="durSub" class="form-control" data-ng-model="newSub.duration"></div>
                        <div class="col-xs-4"><input type="text" id="priceSub" class="form-control" data-ng-model="newSub.price"></div>

                        <div class="col-xs-12"><label for="catSub">Catégorie:</label></div>

                        <div class="col-xs-6">
                            <select class="form-control" id="catSub" data-ng-model="newSub.category">
                                <option data-ng-repeat="cat in categories" value="{{ cat.name}}">{{ cat.name}}</option>
                            </select>
                        </div>  
                        <div class="col-xs-6">   
                            <button class="btn btn-default" data-ng-click="addProduct()">Ajout</button>            
                        </div>
                    </div>
                </li>
            </ul>        
        </div>
        
        <div class="row"></div> 
        
        <div class="col-xs-12 admin"><label class="checkbox"><input type="checkbox" data-ng-model="admin"> Mode admin</label></div>
    </body>
</html>
